<article class="comment">
    <header>
        <p>
            {{ 'on' | trans | capitalize }} <time datetime="{{ comment.createdAt | date('c') }}"{{ comment.createdAt | date }}></time>
            {{ 'by' | trans }} {{ comment.authorName }}
        </p>
    </header>

    <p>{{ comment.body | nl2br }}</p>
</article>