<article>
    <header>
        <h2><a href="#">{{ post.title }}</a></h2>
        <p>
            {{ 'post.on' | trans }} <time datetime="{{ post.createdAt | date('c') }}">{{ post.createdAt | date }}</time>
            {{ 'by' | trans }} <a href="#">{{ post.author.name }}</a>
        </p>
    </header>

    <p>{{ post.body | truncate(400) }} &#8212; <a href="#">{{ 'read.more' | trans }} &raquo;</a></p>
</article>