{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Posts list{% endblock %}

{% block section %}
    <h1>Post list</h1>

    <table>
        <thead>
            <tr>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Title</th>
                <th>Body</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.createdAt | date('Y-m-d H:i:s') }}</td>
                <td>{% if post.updatedAt %}{{ post.updatedAt | date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body | truncate(150)  }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blog_admin_post_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blog_admin_post_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blog_admin_post_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
