{% extends 'base.html.twig' %}

{% block body %}
    <h1>Author list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.id }}</a></td>
                <td>{{ author.name }}</td>
                <td>{{ author.slug }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('author_show', { 'id': author.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('author_edit', { 'id': author.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('author_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
